/* Сброс отступов */
body{
    margin: 0;
    background: url("../image/bgimage.png");
}


/* Header */
.header{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 60px;
    background: rgba(255, 0, 0, 0.8);
}

.header__intro{
    font-family: "Arial", sans-serif;
    font-size: 36px;
}

.header::after{
    display: block;
    content: "";
    height: 3px;
    background-color: black;
    margin: 0 auto;
}


/* Main*/
.main{
    display: block;
    background: linear-gradient(to bottom, rgb(29, 29, 201), rgba(46, 46, 104, 0.7));
    width: 30%;
    height: 360px;
    margin: 100px auto 0;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
}

.main__intro{
    margin-top: 20px;
    color: rgb(250, 128, 114);
    font-family: "Arial", sans-serif;
    font-size: 24px;
}

.main__form__insert{
    width: 80%;
    padding: 10px 20px;
    background: rgba(46, 46, 104, 0.7);
    margin: 20px auto 0;
    height: 180px;
    border-radius: 12px;
    border: 1px solid gray;
}

.main__form__insert__textbox{
    font-size: 16px;
    height: 40px;
    width:80%;
    margin:5px;
}

.main__form__insert__submit{
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
    width:120px;
    margin:5px;
    transition: linear .2s;
}

.main__form__insert__submit:hover{
    height: 60px;
    width: 180px;
    background-color: yellow;
}

.main__form__select__submit{
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
    width:180px;
    transition: linear .2s;
}

.main__form__select__submit:hover{
    height: 60px;
    width: 210px;
    background-color: yellow;
}


/* select.php Table */
.select__block{
    position: absolute;
    display: block;
    width: 100vw;
    top: 10%;
    
    text-align: center;
}

.select__block__table
{
    margin:0 auto;
    border: 4px solid black;
    background: #f4f7f8;
}
th
{
    font-weight: bold;
    color: brown;
    border-bottom: 2px solid #69c;
    padding: 12px 17px;
    font-weight: bold;
}
td
{
    color: #669;
    padding: 7px 17px;
}
tr:hover td
{
    background: #ccddff;
}
